@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

:root {
  --background: #181818;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition: 0.3s ease-in-out;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar with only thumb */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #252525 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #353535;
}
