@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #0f0f0f;
  --foreground: #d4d4d4;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
