/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
  border: none;
  border-radius: 4px;
}

.scrollable-table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable-table::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-table::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}
